.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #131313;
  height: 83px;
  margin: 0 auto;
  width: 100%;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1275px;
  margin: 0 auto;
}

.navbar-logo {
  margin-top: 37px;
}

.navbar-logo__item {
  font-size: 14px;
  line-height: 16px;
  font-family: 'FuturaDemiC';
  text-transform: uppercase;
  text-decoration: none;
  color: #e3b873;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
  margin-left: 60px;
}

.navbar-menu__item {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  font-family: 'FuturaDemiC';
  color: #FFFFFF;
  list-style: none;
  margin-left: 37px;
}

.navbar-menu__item:first-child {
  margin-left: 0;
}

.navbar-menu__link {
  text-decoration: none;
}

.navbar-menu__link:visited {
  color: #fff;
}

.navbar-menu__link:hover {
  color: #E3B873;
  text-decoration: underline;
}

.navbar-buttons {
  margin-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-buttons__callback {
  margin-top: 28px;
  margin-left: 37px;
  width: 161px;
  height: 37px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #E3B873;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.navbar-buttons__phone {
  margin-top: 36px;
}

.phone__number {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
}

.heroscreen {
  margin-top: 83px;
  background-color: #131313;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  height: 707px;
  min-width: 83px;
  margin-top: 83px;
  position: relative;
}

.hero {
  width: 100%;
  height: 707px;
  background: url("/assets/img/firstScreen/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.hero::before {
  margin-top: 83px;
  content: '';
  display: block;
  background: rgba(19, 19, 19, 0.7);
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-wrapper {
  margin-top: 200px;
  margin-left: 60px;
}

.hero-title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.hero-title__color {
  color: #E3B873;
  position: relative;
  z-index: 1;
}

.hero-text {
  font-family: 'FuturaBookC';
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.hero-button__calculate {
  height: 52px;
  width: 210px;
  position: relative;
  z-index: 1;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border: none;
  font-family: 'FuturaDemiC';
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.hero-button__application {
  margin-left: 20px;
  height: 52px;
  width: 210px;
  position: relative;
  z-index: 1;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  background: transparent;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.sidebar {
  position: relative;
}

.instagram-link {
  font-family: 'FuturaDemiC';
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 190px;
  left: 0;
}

.instagram-line {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  z-index: 1;
  height: 2px;
  width: 51px;
  background-color: #E3B873;
  top: 6px;
  left: 98px;
}

.scrolldown {
  position: absolute;
  background-color: #131313;
  width: 247px;
  height: 97px;
  left: 0;
  bottom: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scrolldown-link {
  font-family: 'Yeseva One';
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.scrolldown-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@media (max-width: 375px) {
  .leftSide {
    display: none;
  }
  .actionScreen {
    width: 100%;
    height: 475px;
  }
}

.slider {
  padding-top: 120px;
  width: 100%;
  height: 950px;
  background-color: #131313;
}

.completed-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.completed-object {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.completed-object__link {
  margin-right: 25px;
  font-family: 'Yeseva One';
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.completed-object__link:first-child {
  margin-left: 75px;
  color: #E3B873;
}

.completed-object__link:first-child::before {
  content: '';
  background-color: #E3B873;
  height: 1px;
  width: 190px;
  top: 25px;
  left: 2px;
  position: absolute;
}

.completed-object__link:last-child {
  margin-right: 220px;
}

.completed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.completed-info-wrapper {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 83px;
  padding-top: 20px;
}

.completed-title__text {
  font-family: 'Yeseva One';
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  position: relative;
}

.completed-title__text::after {
  content: '';
  position: absolute;
  bottom: 18px;
  right: 152px;
  height: 1px;
  width: 92px;
  background-color: #E3B873;
}

.completed-text {
  width: 430px;
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.completed-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 40px;
}

.completed-about__item {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.completed-about__title {
  font-family: 'Yeseva One';
  color: #E3B873;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.completed-about__text {
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.completed-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.completed-image__item {
  margin-top: 20px;
  min-width: 679px;
  height: 482px;
  margin-right: 20px;
}

.completed-image__item:first-child {
  margin-left: 75px;
}

.control-wrapper {
  height: 1000px;
  max-width: 817px;
  margin: 0 auto;
  margin-top: -350px;
}

.onlinecontrol-title__text {
  font-family: 'Yeseva One';
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.onlinecontrol-title__svg {
  width: 15%;
  margin: 0 auto;
}

.onlinecontrol-video {
  margin-top: 32px;
  width: 817px;
  height: 434px;
}

.onlinecontrol-text {
  margin-top: 100px;
  text-align: center;
  position: relative;
}

.onlinecontrol-text::after {
  content: '';
  position: absolute;
  top: -45px;
  left: 372px;
  width: 54px;
  height: 2px;
  background-color: #E3B873;
}

.onlinecontrol-text__item {
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 34px;
  color: #363636;
  margin: 0 auto;
}

.onlinecontrol-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 83px;
  position: relative;
}

.onlinecontrol-offer::before {
  content: 'Name';
  position: absolute;
  top: 5px;
  left: 45px;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.onlinecontrol-offer::after {
  content: 'Phone';
  position: absolute;
  top: 5px;
  right: 473px;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.onlinecontrol-offer__name {
  font-family: 'FuturaBookC';
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 31px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}

.onlinecontrol-offer__phone {
  font-family: 'FuturaBookC';
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 31px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}

.onlinecontrol-offer__submit {
  background-color: #E3B873;
  border: none;
  height: 51px;
  width: 200px;
  font-family: 'FuturaDemiC';
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.onlinecontrol-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.onlinecontrol-personal__check {
  opacity: 0;
}

.onlinecontrol-personal__text {
  font-family: 'FuturaBookC';
  font-size: 16px;
  line-height: 22px;
  color: #181818;
  position: relative;
  padding-left: 10px;
}

.onlinecontrol-personal__text::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  border: none;
  background-color: #E3B873;
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: -25px;
  cursor: pointer;
}

.onlinecontrol-personal__text::after {
  content: '';
  display: inline-block;
  height: 4px;
  width: 9px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: -21px;
  top: 7px;
  cursor: pointer;
}

input[type=checkbox]:checked + label::before {
  background-color: #fff;
  border: 1px solid #E3B873;
  width: 17px;
  height: 17px;
}

.repairTypes {
  background-color: #fff;
  height: 706px;
  width: 100%;
}

.features {
  width: 100%;
  height: 725px;
  background-color: #fff;
}

.portfolio {
  height: 864px;
  width: 100%;
  background-image: url(/assets/img/portfolio/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .portfolio {
    background-size: contain;
    height: 250px;
  }
}

.designProjects {
  height: 500px;
  width: 100%;
  background-color: #fff;
}

.steps {
  background-color: #131313;
  height: 690px;
  width: 100%;
}

.ourTeam {
  height: 980px;
  width: 100%;
  background-color: #131313;
}

.ourClients {
  background-color: #fff;
  height: 1300px;
  width: 100%;
}

.question {
  height: 950px;
  width: 100%;
  background: rgba(24, 24, 24, 0.95) url("/assets/img/question/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  background-position: 50%;
}

footer {
  height: 133px;
  width: 100%;
  background-color: #131313;
  margin-top: -20px;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url("../assets/fonts/FuturaBookC.eot");
  src: url("../assets/fonts/FuturaBookC?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaBookC.woff") format("woff"), url("../assets/fonts/FuturaBookC.woff2") format("woff2"), url("../assets/fonts/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/fonts/ProximaNova-Regular.eot");
  src: url("../assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("../assets/fonts/ProximaNova-Regular.woff") format("woff"), url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url("../assets/fonts/FuturaDemiC.eot");
  src: url("../assets/fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaDemiC.woff2") format("woff2"), url("../assets/fonts/FuturaDemiC.woff") format("woff"), url("../assets/fonts/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url("../assets/fonts/FuturaMediumC.eot");
  src: url("../assets/fonts/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/FuturaMediumC.woff2") format("woff2"), url("../assets/fonts/FuturaMediumC.woff") format("woff"), url("../assets/fonts/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url("../assets/fonts/YesevaOne.eot");
  src: url("../assets/fonts/YesevaOne.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/YesevaOne.woff2") format("woff2"), url("../assets/fonts/YesevaOne.woff") format("woff"), url("../assets/fonts/YesevaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */