.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #131313;
  height: 83px;
  margin: 0 auto;
  width: 100%;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1275px;
  margin: 0 auto;
}

.navbar-logo {
  margin-top: 37px;
}

.navbar-logo__item {
  font-size: 14px;
  line-height: 16px;
  font-family: 'FuturaDemiC';
  text-transform: uppercase;
  text-decoration: none;
  color: #e3b873;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
  margin-left: 60px;
}

.navbar-menu__item {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  font-family: 'FuturaDemiC';
  color: #FFFFFF;
  list-style: none;
  margin-left: 37px;
}

.navbar-menu__item:first-child {
  margin-left: 0;
}

.navbar-buttons {
  margin-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-buttons__callback {
  margin-top: 28px;
  margin-left: 37px;
  width: 161px;
  height: 37px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #E3B873;
  border: none;
  border-radius: 2px;
}

.navbar-buttons__phone {
  margin-top: 36px;
}

.phone__number {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
}

.heroscreen {
  background-color: #131313;
  height: 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  height: 707px;
  min-width: 83px;
  margin-top: 83px;
  position: relative;
}

.hero {
  margin-top: 83px;
  width: 100%;
  height: 707px;
  background: url("/assets/img/firstScreen/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.hero::before {
  margin-top: 83px;
  content: '';
  display: block;
  background: rgba(19, 19, 19, 0.7);
  width: 100%;
  height: 707px;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-wrapper {
  margin-top: 200px;
  margin-left: 60px;
}

.hero-title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.hero-title__color {
  color: #E3B873;
  position: relative;
  z-index: 1;
}

.hero-text {
  font-family: 'FuturaBookC';
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.hero-button__calculate {
  position: relative;
  z-index: 1;
}

.hero-button__application {
  position: relative;
  z-index: 1;
}

.scrollDown {
  position: absolute;
  background-color: #131313;
  width: 247px;
  height: 97px;
  left: 0;
  bottom: 104px;
}

@media (max-width: 375px) {
  .leftSide {
    display: none;
  }
  .actionScreen {
    width: 100%;
    height: 475px;
  }
}

.slider-wrapper {
  width: 100%;
  height: 1074px;
  background-color: #131313;
}

.onlineControl {
  background-color: #fff;
  height: 900px;
  width: 100%;
}

.repairTypes {
  background-color: #fff;
  height: 706px;
  width: 100%;
}

.features {
  width: 100%;
  height: 725px;
  background-color: #fff;
}

.portfolio {
  height: 864px;
  width: 100%;
  background-image: url(/assets/img/portfolio/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .portfolio {
    background-size: contain;
    height: 250px;
  }
}

.designProjects {
  height: 500px;
  width: 100%;
  background-color: #fff;
}

.steps {
  background-color: #131313;
  height: 690px;
  width: 100%;
}

.ourTeam {
  height: 980px;
  width: 100%;
  background-color: #131313;
}

.ourClients {
  background-color: #fff;
  height: 1300px;
  width: 100%;
}

.question {
  height: 950px;
  width: 100%;
  background: rgba(24, 24, 24, 0.95) url("/assets/img/question/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  background-position: 50%;
}

footer {
  height: 133px;
  width: 100%;
  background-color: #131313;
  margin-top: -20px;
}
/*# sourceMappingURL=style.css.map */