* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

@media (max-width: 375px) {
    .container{
        width: 375px;
    } 
}

