.measurer {
    margin-top: 140px;
    width: 100%;
    height: 725px;
    background-color: #fff;
    &-ellipsis {
        margin-left: 150px;
        display: flex;
        background-color: #E3B873;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

    }
    &-offer {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &-wrapper {
        display: flex;
        flex-direction: row;
    }
    &-box {
        margin: 40px auto 0;
        background-color: #131313;
        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
        width: 506px;
        height: 509px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        &::after {
            content: 'Email';
            position: absolute;
            width: 40px;
            height: 10px;
            top: 265px;
            left: 50px;
            font-family: 'FuturaBookC';
            font-size: 15px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.5);
        }
        &__title {
            font-family: 'FuturaDemiC';
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            position: relative;
            &:before {
                content: 'Name';
                position: absolute;
                width: 40px;
                height: 10px;
                top: 79px;
                left: 48px;
                font-family: 'FuturaBookC';
                font-size: 15px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.5);
            }
            &::after {
                content: 'Phone';
                position: absolute;
                width: 40px;
                height: 10px;
                top: 160px;
                left: 48px;
                font-family: 'FuturaBookC';
                font-size: 15px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
        &__name {
            font-family: 'FuturaMediumC';
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            width: 80%;
            margin: 0 auto;
            font-family: 'FuturaBookC';
            height: 31px;
            background-color: transparent;
            font-size: 18px;
            line-height: 24px;
            border: none;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);      
            outline: none;
           
        }
        &__phone {
            font-family: 'FuturaMediumC';
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            width: 80%;
            margin: 0 auto;
            font-family: 'FuturaBookC';
            height: 31px;
            background-color: transparent;
            font-size: 18px;
            line-height: 24px;
            border: none;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);      
            outline: none;
            
        }
        &__email {
            font-family: 'FuturaMediumC';
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            width: 80%;
            margin: 0 auto;
            font-family: 'FuturaBookC';
            height: 31px;
            background-color: transparent;
            font-size: 18px;
            line-height: 24px;
            border: none;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);      
            outline: none; 
            
        }
        &__submit {
            background-color: #E3B873;
            border: none;
            height: 51px;
            width: 200px;
            font-family: 'FuturaDemiC';
            font-size: 15px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            align-self: flex-end;
            margin-right: 53px;
        }
    }
    &-personal {
        display: flex;
        margin-left: 63px;
        
        &__check {
            opacity: 0;    
        }
        &__text {
            font-family: 'FuturaBookC';
            font-size: 16px;
            line-height: 22px;
            position: relative;
            padding-left: 10px;
            &::before {
                content: '';
                display: inline-block;
                height: 18px;
                width: 18px;
                border: none;
                background-color: #E3B873;   
                border-radius: 2px;
                position: absolute;
                top: 2px;
                left: -25px;
                cursor: pointer;
            }        
            &::after {
                content: '';
                display: inline-block;
                height: 4px;
                width: 9px;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(-45deg);
                position: absolute;
                left: -21px;
                top: 7px;  
                cursor: pointer;         
            }
        }
    }
    &-circle {   
        position: relative;
        width: 50%;
        &::after {
            position: absolute;
            content: '';
            border-radius: 50%;
            width: 700px;
            height: 700px;
            top: -20px;
            left: -220px;
            background: linear-gradient(to right, transparent 0%,transparent 20%, transparent 20%, #E3B873 100%);
            -webkit-mask-image: radial-gradient(circle at center, transparent 70%, white 69%);
        }
        &::before {
            content: '';
            width: 100%;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            height: 700px;
            background: url('/assets/img/measurer/bg.png');
            opacity: 0.2;
            position: absolute;
            top: -57px;
            left: 0;
            background-size: cover;
        }
        &__text {
            font-family: 'FuturaMediumC';
            font-size: 18px;
            line-height: 21px;
            color: #363636;
        }
    }
    &-save {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 34px;
        &__text {
            font-family: 'FuturaDemiC';
            font-size: 20px;
            line-height: 25px;
            color: #E3B873;
            text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
            margin-left: 20px;
        }
    }
}

.step1 {   
    position: relative;
    top: 56px;
    left: 420px;
    &::after {
        content: '';
        width: 42px;
        height: 42px;
        position: absolute;
        z-index: 1;
        top: -15px;
        left: -91px;
        border-radius: 50%;
        background-color: #E3B873;
        border: 20px solid white;
        z-index: 1;
    }
    &::before {
        content: '01';
        z-index: 2;
        position: absolute;
        font-family: 'Yeseva One';
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        top: 14px;
        left: -60px;
    }
}

.step2 { 
    position: relative;
    top: 182px;
    left: 171px;
    &::after {
        content: '';
        width: 42px;
        height: 42px;
        position: absolute;
        z-index: 1;
        top: -28px;
        left: -80px;
        border-radius: 50%;
        background-color: #E3B873;
        border: 20px solid white;
        z-index: 1;
    }
    &::before {
        content: '02';
        z-index: 2;
        position: absolute;
        font-family: 'Yeseva One';
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        top: 1px;
        left: -50px;
    }
}

.step3 {  
    position: relative;
    top: 324px;
    left: 88px;
    &::after {
        content: '';
        width: 42px;
        height: 42px;
        position: absolute;
        z-index: 1;
        top: -29px;
        left: -82px;
        border-radius: 50%;
        background-color: #E3B873;
        border: 20px solid white;
        z-index: 1;
    }
    &::before {
        content: '03';
        z-index: 2;
        position: absolute;
        font-family: 'Yeseva One';
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        top: 1px;
        left: -52px;
    }
}

.step4 {
    position: relative;
    top: 419px;
    left: 484px;
    width: 300px;
    &::after {
        content: '';
        width: 42px;
        height: 42px;
        position: absolute;
        z-index: 1;
        top: -15px;
        left: -91px;
        border-radius: 50%;
        background-color: #E3B873;
        border: 20px solid rgba(255, 255, 255, 1);
        z-index: 1;
    }
    &::before {
        content: '04';
        z-index: 2;
        position: absolute;
        font-family: 'Yeseva One';
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        top: 14px;
        left: -61px;
    }
}

input[type=checkbox]:checked + label::before {
    background-color: #fff;
    border: 1px solid #E3B873;
    width: 17px;
    height: 17px;
}

.piggy {
    width: 40px;
    height: 33px;
}