.portfolio {
    height: 864px;
    width: 100%;
    background-image: url(/assets/img/portfolio/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 375px) {
    .portfolio{
        background-size: contain;
        height: 250px;
    }   
}