.question {
    height: 950px;
    width: 100%;
    background: rgba(24, 24, 24, 0.95) url('/assets/img/question/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: 50%;
}